{% extends "account/layout.html" %} {% block title %} {{title}} {% endblock %} {% block content %}

<section class="content-container bg">
    <div class="row">
        <div class="col-xs-12">
            <br>

            <div class="block-shadow text-center">
                <div class="block-inner">
                    <p class="h7">Create your account</p>
                    <div class="icon-block">
                        <span class="icon icon-xl icon-black material-icons-face"></span>
                    </div>
                </div>
                <form class="rd-mailform form-modern form-darker form-login" novalidate="novalidate">
                    <div class="block-inner">
                        <div class="form-group">
                            <input class="form-control form-control-has-validation" id="register-form-name" type="text" name="name" data-constraints="@Required">
                            <span class="form-validation"></span>
                            <label class="form-label rd-input-label" for="register-form-name">Username</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-has-validation" id="feedback-email" type="email" name="email" data-constraints="@Email @Required">
                            <span class="form-validation"></span>
                            <label class="form-label rd-input-label" for="feedback-email">Email</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-has-validation" id="register-form-password" type="password" name="pass" data-constraints="@Required">
                            <span class="form-validation"></span>
                            <label class="form-label rd-input-label" for="register-form-password">Password</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-has-validation" id="register-form-password-confirm" type="password" name="pass-confirm"
                                data-constraints="@Required">
                            <span class="form-validation"></span>
                            <label class="form-label rd-input-label" for="register-form-password-confirm">Repeat a password</label>
                        </div>
                        <div class="info-text text-left text-secondary">
                            <label class="checkbox-inline checkbox-small">
                                <input name="input-checkbox" value="checkbox-1" type="checkbox" class="checkbox-custom">
                                <span class="checkbox-custom-dummy"></span>I agree with the&nbsp;
                                <a class="link-primary-inline" href="privacy-policy.html">Terms of use</a>.
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-round-bottom btn-block" type="submit">Sign up</button>
                </form>
            </div>

            <hr>

            <div style="height: 500px;">&nbsp;</div>
        </div>
</section>

{% endblock %} {% block inline_scripts %}
<script>
    $(document).ready(function () {

    });
</script> {% endblock %}