/* === base === */
body {
    margin: 0;
    padding: 0;
    &.noscroll {
        overflow: hidden;
    }
}
body.preload *{
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

hr {
    border: 0 none;
}

ul {
    list-style: none;
    padding: 0;
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
}

a, img, button {
    cursor: pointer;
}

input, textarea, select, button {
    outline: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.anim9s {
    -webkit-transition: all ease-in-out .9s;
    -moz-transition: all ease-in-out .9s;
    -o-transition: all ease-in-out .9s;
    transition: all ease-in-out .9s;
}
.anim6s {
    -webkit-transition: all ease-in-out .6s;
    -moz-transition: all ease-in-out .6s;
    -o-transition: all ease-in-out .6s;
    transition: all ease-in-out .6s;
}
.anim4s {
    -webkit-transition: all ease-in-out .4s;
    -moz-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}
.anim3s {
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}
.anim2s {
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}
.anim1s {
    -webkit-transition: all ease-in-out .15s;
    -moz-transition: all ease-in-out .15s;
    -o-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;
}

.font20 {
    font-size: 20px!important;
}
.font18 {
    font-size: 18px!important;
}
.font17 {
    font-size: 17px!important;
}
.font15 {
    font-size: 15px!important;
}
.font13 {
    font-size: 13px!important;
}
.font12 {
    font-size: 12px!important;
}
.font11 {
    font-size: 11px!important;
}
.font10 {
    font-size: 10px!important;
}
.font9 {
    font-size: 9px!important;
}

.mt0 {
    margin-top: 0!important;
}
.mr0 {
    margin-right: 0!important;
}
.mb0 {
    margin-bottom: 0!important;
}
.ml0 {
    margin-left: 0!important;
}
.mt5 {
    margin-top: 5px!important;
}
.mr5 {
    margin-right: 5px!important;
}
.mb5 {
    margin-bottom: 5px!important;
}
.ml5 {
    margin-left: 5px!important;
}
.mt10 {
    margin-top: 10px!important;
}
.mr10 {
    margin-right: 10px!important;
}
.mb10 {
    margin-bottom: 10px!important;
}
.ml10 {
    margin-left: 10px!important;
}
.mt15 {
    margin-top: 15px!important;
}
.mr15 {
    margin-right: 15px!important;
}
.mb15 {
    margin-bottom: 15px!important;
}
.ml15 {
    margin-left: 15px!important;
}
.nomargin {
    margin: 0!important;
}

.pt0 {
    padding-top: 0!important;
}
.pr0 {
    padding-right: 0!important;
}
.pb0 {
    padding-bottom: 0!important;
}
.pl0 {
    padding-left: 0!important;
}
.pt5 {
    padding-top: 5px!important;
}
.pr5 {
    padding-right: 5px!important;
}
.pb5 {
    padding-bottom: 5px!important;
}
.pl5 {
    padding-left: 5px!important;
}
.pt10 {
    padding-top: 10px!important;
}
.pr10 {
    padding-right: 10px!important;
}
.pb10 {
    padding-bottom: 10px!important;
}
.pl10 {
    padding-left: 10px!important;
}
.pt15 {
    padding-top: 15px!important;
}
.pr15 {
    padding-right: 15px!important;
}
.pb15 {
    padding-bottom: 15px!important;
}
.pl15 {
    padding-left: 15px!important;
}
.nopadding {
    padding: 0!important;
}

.horiz-padd {
    padding-left: 15px;
    padding-right: 15px;
}
.horiz-nopadd {
    padding-left: 0;
    padding-right: 0;
}
.vert-padd {
    padding-top: 15px;
    padding-bottom: 15px;
}
.vert-nopadd {
    padding-top: 0;
    padding-bottom: 0;
}

.gap5 {
    display: table;
    width: 100%;
    padding-top: 5px;
}
.gap10 {
    display: table;
    width: 100%;
    padding-top: 10px;
}
.gap15 {
    display: table;
    width: 100%;
    padding-top: 15px;
}
.gap20 {
    display: table;
    width: 100%;
    padding-top: 20px;
}
.gap25 {
    display: table;
    width: 100%;
    padding-top: 25px;
}
