.main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 320px;
    width: 250px;
    background-color: #F3F3F3;
    z-index: 900;
    @include transition(transform .3s ease-in-out,width .3s ease-in-out);
    &.with-border {
        background-color: #F9F9F9;
        border-right: 1px solid #e5e7e9;
    }
    &.with-shadow {
        background-color: #F6F6F6;
        @include box-shadow(0 0 25px -5px rgba(0,0,0,0.5));
    }
    .sidebar {
        height: auto;
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            position: relative;
            a {
                color: #666;
            }
        }
        .sidebar-menu {  
            li.header {
                padding: 15px 20px 5px;
                font-size: 13px;
                font-weight: bold;
                color: #AAA;
                border-bottom: 1px solid #DDD;
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: uppercase;
                white-space: nowrap;
            }
            li > a {
                display: block; 
                position: relative;
                padding: 15px;
                white-space: nowrap;
                border-left: 5px solid transparent;
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                > i.fa {
                    width: 20px;
                }
            }
            > li > a > .right-fa-container {
                position: absolute;
                right: 10px;
                top: 50%;
                margin-top: -7px;
                .fa-angle-left {
                    width: auto;
                    height: auto;
                    padding: 0;
                    margin-right: 10px;
                    @include transition(all ease-in-out .3s);
                }
            }
            > li > .menuitem-submenu {
                display: none;
                height: auto;
                margin: 0;
                padding: 0 0 0 25px;
                background: #F0F0F0;
                overflow: hidden;
                > li > a {
                    font-size: 13px;
                }
            }
            li:hover > a {
                background: #F0F0F0;
                color: #333;
            }
            li.active > a {
                background: #E0E0E0;
                color: #333;
                > .right-fa-container {
                    .fa-angle-left {
                        @include transform(rotate(-90deg));
                    }
                }
            }
            li.active .menuitem-submenu {
                display: block;
            }
        }
    }
}