{% extends "base.html" %} 
{% block title %} {{title}} {% endblock %} 
{% block body_attribs %} class="with-bg"{% endblock body_attribs %}
{% block content %}

<section class="content-container">
    <div class="row">
        <div class="col-xs-12">
            <div class="ipanel">
                <div class="ipanel-head">
                    <strong>{{title}}</strong>
                    <span class="clearfix">
                        <div class="label label-success">Notification</div>
                    </span>
                </div>
                <div class="ipanel-body">

                    {% if data %}
                    <table id="std-table" class="display dataTable" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Нэр</th>
                                <th>Код</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data %}
                            <tr>
                                <td>
                                    <a href="">{{item.id}}</a>
                                </td>
                                <td>{{item.barcode}}</td>
                                <td>{{item.name}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Нэр</th>
                                <th>Код</th>
                            </tr>
                        </tfoot>
                    </table>
                    {% else %}
                    <div class="alert alert-info"> Мэдээлэл байхгүй байна! </div>
                    {% endif %}

                </div>
                <div class="ipanel-foot">
                    <a class="btn btn-primary">Бараа бүртгэх</a>
                    {{ pagination.info }}
                    {{ pagination.links }}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block styles %}
    {{super()}}
    <link href="{{static_url('shared/datatables/media/css/jquery.dataTables.min.css')}}" rel="stylesheet">
{% endblock %}
{% block scripts %}
    {{super()}}
    <script src="{{static_url('shared/datatables/media/js/jquery.dataTables.min.js')}}"></script>
{% endblock %}
{% block inline_scripts %}
<script>
    $(document).ready(function() {
        var table = $('#std-table').data('table')
        table.column('1:visible').order('desc').draw();
    });
</script>
{% endblock %}