<header class="main-header">

  <div class="logo-container">
    <span class="logo-collapse">ЦЭС</span>
    <div class="logo-extend">
      <a href="javascript:void(0);" id="toggler-sidebar">
        <i class="fa fa-bars"></i>
      </a>
      <a href="{{site_url()}}" class="logo">
        <span class="lo1">O</span>
        <span class="ld2">d</span>
        <span class="lo3">O</span>
        <span class="lv4">v{{config_item('CMS_VERSION')}}</span>
      </a>
    </div>
  </div>

  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
      </ul>
    </div>

  </nav>

</header>