<aside class="main-sidebar with-shadow">

    <section class="sidebar">
        
        <ul class="sidebar-menu">
            <li class="header">Үндсэн цэс</li>
            <li>
                <a href="app">
                    <i class="fa fa-dashboard fa-line-chart"></i>
                    <span>Хянах самбар</span>
                </a>
            </li>
            <li class="menuitem active">
                <a href="javascript:void(0);">
                    <i class="fa fa-adjust"></i>
                    <span>Удирдлага</span>
                    <span class="right-fa-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="menuitem-submenu">
                    <li>
                        <a href="{{url_for('company.index')}}">
                            <i class="fa fa-object-group"></i>
                            <span>Компани</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('company.index')}}">
                            <i class="fa fa-user-md"></i>
                            <span>Бараа</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('company.index')}}">
                            <i class="fa fa-paperclip"></i>
                            <span>Харилцагчид</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menuitem active">
                <a href="javascript:void(0);">
                    <i class="fa fa-reorder"></i>
                    <span>Захиалга</span>
                    <span class="right-fa-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="menuitem-submenu">
                    <li>
                        <a href="app/lombard" title="Бараа татан авалт">
                            <i class="fa fa-list"></i>
                            <span>Бараа татан авалт</span>
                        </a>
                    </li>
                    <li>
                        <a href="app/lombard" title="Захиалгын хүсэлтүүд">
                            <i class="fa fa-list"></i>
                            <span>Захиалгын хүсэлтүүд</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menuitem active">
                <a href="javascript:void(0);">
                    <i class="fa fa-shopping-bag"></i>
                    <span>Худалдаа</span>
                    <span class="right-fa-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="menuitem-submenu">
                    <li>
                        <a href="app/accstream" title="Худалдааны цэг">
                            <i class="fa fa-list"></i>
                            <span>ПОС</span>
                        </a>
                    </li>
                    <li>
                        <a href="app/accstream" title="Худалдааны тайлан">
                            <i class="fa fa-list"></i>
                            <span>Тайлан</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menuitem">
                <a href="javascript:void(0);">
                    <i class="fa fa-folder"></i>
                    <span>Файлын сан</span>
                </a>
            </li>
            <li class="menuitem">
                <a href="javascript:void(0);">
                    <i class="fa fa-gears"></i>
                    <span>Систем</span>
                    <span class="right-fa-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="menuitem-submenu">
                    <li>
                        <a href="app/role" title="Системийн хандах эрхүүд">
                            <i class="fa fa-user-secret"></i>
                            <span>Системийн эрхүүд</span>
                        </a>
                    </li>
                    <li>
                        <a href="app/account" title="Системд бүртгэлтэй нийт хэрэглэгчдийг удирдах цонх">
                            <i class="fa fa-user"></i>
                            <span>Хэрэглэгч</span>
                        </a>
                    </li>
                    <li>
                        <a href="app/authortype" title="Дэлгүүр, Баар паб, Супермаркет гэх мэт">
                            <i class="fa fa-sticky-note-o"></i>
                            <span>Харилцагчийн төрөл</span>
                        </a>
                    </li>
                    <li>
                        <a href="app/author" title="Системд бүртгэлтэй нийт байгууллагуудыг удирдах цонх">
                            <i class="fa fa-sticky-note"></i>
                            <span>Нийт харилцагчид</span>
                        </a>
                    </li>
                    <li>
                        <a href="app/author" title="Системд бүртгэлтэй нийт бараануудыг удирдах цонх">
                            <i class="fa fa-sticky-note"></i>
                            <span>Нийт бараанууд</span>
                        </a>
                    </li>
                    <li>
                        <a href="app/setting" title="Системийн ерөнхий тохиргоо">
                            <i class="fa fa-gear"></i>
                            <span>Тохиргоо</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="visible">
                <a href="javascript:void(0);">
                    <i class="fa fa-book"></i>
                    <span>Тусламж</span>
                </a>
            </li>
            <li class="visible">
                <div class="gap25"></div>
            </li>
        </ul>
    </section>

</aside>