<aside class="main-sidebar with-shadow">

    <section class="sidebar">
        
        <div class="user-panel hidden">
            <div class="pull-left image">
                <img src="https://new-gangnam.com/themes/dist/img/default-user-avatar.png" class="img-circle" alt="root">
            </div>
            <div class="pull-left info">
                <p>boldbaatar b</p>
                <a href="javascript">
                    <i class="fa fa-circle text-success"></i>
                </a>
            </div>
        </div>

        <ul class="sidebar-menu">
            <li class="header">Үндсэн цэс</li>
            <li>
                <a href="https://new-gangnam.com/app">
                    <i class="fa fa-dashboard fa-line-chart"></i>
                    <span>Хянах самбар</span>
                </a>
            </li>
            <li class="menuitem active">
                <a href="javascript:void(0);">
                    <i class="fa fa-adjust"></i>
                    <span>Удирдлага</span>
                    <span class="right-fa-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="menuitem-submenu">
                    <li>
                        <a href="{{url_for('product.index')}}">
                            <i class="fa fa-object-group"></i>Компани</a>
                    </li>
                    <li>
                        <a href="{{url_for('product.index')}}">
                            <i class="fa fa-user-md"></i>Бараа</a>
                    </li>
                    <li>
                        <a href="{{url_for('product.index')}}">
                            <i class="fa fa-paperclip"></i>Харилцагчид</a>
                    </li>
                </ul>
            </li>
            <li class="menuitem active">
                <a href="javascript:void(0);">
                    <i class="fa fa-reorder"></i>
                    <span>Захиалга</span>
                    <span class="right-fa-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="menuitem-submenu">
                    <li>
                        <a href="https://new-gangnam.com/app/lombard" title="Бараа захиалах">
                            <i class="fa fa-list"></i>Бараа татан авалт</a>
                    </li>
                    <li>
                        <a href="https://new-gangnam.com/app/lombard" title="Бараа захиалах">
                            <i class="fa fa-list"></i>Захиалгын хүсэлтүүд</a>
                    </li>
                </ul>
            </li>
            <li class="menuitem active">
                <a href="javascript:void(0);">
                    <i class="fa fa-shopping-bag"></i>
                    <span>Худалдаа</span>
                    <span class="right-fa-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="menuitem-submenu">
                    <li>
                        <a href="https://new-gangnam.com/app/accstream" title="Худалдааны цэг">
                            <i class="fa fa-list"></i>ПОС</a>
                    </li>
                    <li>
                        <a href="https://new-gangnam.com/app/accstream" title="Худалдааны цэг">
                            <i class="fa fa-list"></i>Тайлан</a>
                    </li>
                </ul>
            </li>
            <li class="menuitem">
                <a href="javascript:void(0);">
                    <i class="fa fa-folder"></i>
                    <span>Файлын сан</span>
                </a>
            </li>
            <li class="menuitem">
                <a href="javascript:void(0);">
                    <i class="fa fa-gears"></i>
                    <span>Систем</span>
                    <span class="right-fa-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="menuitem-submenu">
                    <li>
                        <a href="https://new-gangnam.com/app/role" title="Системийн хандах эрхүүд">
                            <i class="fa fa-user-secret"></i>
                            <span>Системийн эрхүүд</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://new-gangnam.com/app/account" title="Системд бүртгэлтэй нийт хэрэглэгчдийг удирдах цонх">
                            <i class="fa fa-user"></i>
                            <span>Хэрэглэгч</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://new-gangnam.com/app/authortype" title="Дэлгүүр, Баар паб, Супермаркет гэх мэт">
                            <i class="fa fa-sticky-note-o"></i>Харилцагчийн төрөл</a>
                    </li>
                    <li>
                        <a href="https://new-gangnam.com/app/author" title="Системд бүртгэлтэй нийт байгууллагуудыг удирдах цонх">
                            <i class="fa fa-sticky-note"></i>Нийт харилцагчид</a>
                    </li>
                    <li>
                        <a href="https://new-gangnam.com/app/author" title="Системд бүртгэлтэй нийт бараануудыг удирдах цонх">
                            <i class="fa fa-sticky-note"></i>Нийт бараанууд</a>
                    </li>
                    <li>
                        <a href="https://new-gangnam.com/app/setting" title="Системийн ерөнхий тохиргоо">
                            <i class="fa fa-gear"></i>Тохиргоо</a>
                    </li>
                </ul>
            </li>
            <li class="visible">
                <a href="javascript:void(0);">
                    <i class="fa fa-book"></i>
                    <span>Тусламж</span>
                </a>
            </li>
        </ul>
    </section>

</aside>